apiVersion: apps/v1
kind: Deployment
metadata:
  name: sparkjava-deployment
  labels:
    app: sparkjava
  namespace: sparkjava
spec:
  replicas: 5
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  selector:
    matchLabels:
      app: sparkjava
  template:
    metadata:
      labels:
        app: sparkjava
    spec:
      containers:
      - name: sparkjava
        image: saikrish12345/saprkjava:1
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 300m
            memory: 500Mi
        ports:
        - containerPort: 8080
